.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--bg);
    height: 50px;
    margin-bottom: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;


}

.logo {
    font-weight: bold;
}

.text {
    font-size: 12px;
}